<!Doctype html>
<html>
  <head>
    <title>Add a Place</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="CityName">Enter a City: </label>
      <input id="CityName" name="CityName">
      <button type="submit">Enter</button>
    </form>
  </body>
</html>