@using PlacesBeen.Models;
<!Doctype html>
<html>
  <head>
    <title>Places List</title>
  </head>
  <body>
    <h1>Places I've Been:</h1>
    <div>
      <ul>
        @foreach (Place element in Model)
        {
          <li>@element.CityName</li>
            <ul>
              <li>@element.Description</li>
            </ul>
        }
      </ul>

      <a href="/places/new">Add a new place</a>
      <form action="/places/delete" method="post">
        <button type="submit">Delete All</button>
      </form>
    </div>
  </body>
</html>