@using PlacesBeen.Models;
<!Doctype html>
<html>
  <head>
    <title>Places List</title>
  </head>
  <body>
    <h1>Places I've Been:</h1>
    <div>
      @if (Model.Count == 0)
        {
          Place portland = new Place("portland");
          Place seattle = new Place("seattle");
        }
      <ul>
        @foreach (Place element in Model)
        {
          <li>@element.CityName</li>
        }
      </ul>

      <a href="/places/new">Add a new place</a>
    </div>
  </body>
</html>