<!Doctype html>
<html>
  <head>
    <title>Add a Place</title>
  </head>
  <body>
    <form action="/places" method="post">
      <label for="CityName">Enter a City: </label>
      <input type="text" id="CityName" name="CityName">
      <label for="Description">Describe your trip: </label>
      <input type="text" id="Description" name="Description">
      <button type="submit">Enter</button>
    </form>
  </body>
</html>